<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="barcode">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Barcode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="themes">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Themes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="send">
      <ion-icon name="send"></ion-icon>
      <ion-label>Send</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>