<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Reader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Accepting</ion-card-title>
      <ion-card-subtitle>I'll show the response of your bar (or QR) code and your geolocation, ok?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>I agree</ion-label>
        <ion-toggle [(ngModel)]="checkValid.checked" color="secondary"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="outline" size="small" color="danger" shape="round" (click)="callFunctions()">Call
    Functions</ion-button>

  <ion-card *ngIf="barcodeData.text != ''">
    <ion-card-header>
      <ion-card-title>Return of Barcode</ion-card-title>
      <ion-card-subtitle>{{ barcodeData.text }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="latLongUser">
    <ion-card-header>
      <ion-card-title>Return of Geolocation</ion-card-title>
      <ion-card-subtitle *ngIf="latLongUser.accuracy">Accuracy: {{ latLongUser.accuracy }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.altitude">Altitude: {{ latLongUser.altitude }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.altitudeAccuracy">Altitude Accuracy: {{ latLongUser.altitudeAccuracy }}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.heading">Heading: {{ latLongUser.heading }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.latitude">Latitude: {{ latLongUser.latitude }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.longitude">Longitude: {{ latLongUser.longitude }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.speed">Speed: {{ latLongUser.speed }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="latLongUser.err">{{ latLongUser.err }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>