<ion-header>
  <ion-toolbar>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="medium" (click)="changeTheme('light')">Light</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('dark')">Dark</ion-button>
</ion-content>